[submodule "extern/pico-scale"]
	path = extern/pico-scale
	url = https://github.com/endail/pico-scale
[submodule "extern/hx711-pico-c"]
	path = extern/hx711-pico-c
	url = https://github.com/endail/hx711-pico-c
[submodule "FreeRTOS/FreeRTOS-Kernel"]
	path = FreeRTOS/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = no-OS-FatFS-SD-SPI-RPi-Pico
	url = https://github.com/carlk3/no-OS-FatFS-SD-SPI-RPi-Pico.git
